<form [formGroup]="currentQuestionForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <div>
                <label for="currentQuestion">Question {{currentQuestionNumber}} : <small>{{ currentQ[0] }} * {{ currentQ[1] }}</small></label>
                <input formControlName="currentQuestion" type="number" class="form-control"
                    id="name" aria-describedby="emailHelp" placeholder="Entrez votre réponse">
                <div *ngIf="currentQuestion.invalid && currentQuestion.touched" class="alert alert-danger">
                    <div *ngIf="currentQuestion.errors.required">
                        Réponse est recquise
                    </div>
                </div>
                <br>
                <button [disabled]="currentQuestion.invalid" class="btn btn-lg btn-secondary" type="button" data-question="1" (click)=nextQuestion()>Passer à la question suivante</button>
            </div> 
        </div>
</form>